*{
  font-family: "Open Sans";
}

body{
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  background-color: #455a64;
  width:  50%;
  text-align: center;
  display: inline-block;
  float: left;
}

section{
  height: 100vh;
  width: 90%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
  color: #fff;
  margin-bottom: 30px;
}

h2 {
  color: #455A64;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 600;
}

input {
  width: 90%;
  height: 35px;
  margin-bottom: 40px;
  border: none;
  font-size: 25px;
  padding-left: 10px;
}

input::placeholder {
  color: #BBBDBF;

}

hr {
  background: #CFD8DC;
  height: 1px;
  border: 0px;
}

.logo {
  height: 75px;
  width: 75px;
  vertical-align: middle;
  margin-top: -5px;
}

.list-item {
  width: 90%;
  background-color: #fff;
  border: solid 1.5px #607D8B;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 15px;
}

.list-item-read {
  background-color: #F2F4F4;
}

.read-button {
  border: none;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 14px;
}

.read-button-read {
  border: none;
  color: #F05A28;
  font-weight: 800;
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  background-color: #F2F4F4;
}

.delete-button {
  border: none;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  float: right;
}

.delete-button-read {
  background-color: #F2F4F4;
}

.link-list {
  color: #607d8b;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 22px;
}

.link-list-read {
  text-decoration-color: #CFD8DC;
} 

#list-area {
  width: 50%;
  background-color: #CFD8DC;
  vertical-align: top;
}

#enter-button {
width: 92%;
color: #FFFFFF; 
background-color: #FFC107;
height: 35px;
border: none;
font-weight: 800;
font-size: 17px;
}

#enter-button:hover {
  background-color: #FFD773;

}
#enter-button:disabled {
  background-color: #CFD8DC
}

#main-form {
  margin-top: 30%;
}

#counter-container {
  margin-top: 4%;
  color: #FFF;
}

#bookmark-count-container {
  font-size: 24px;
  width: 20%;
}

#small-counter-container {
  font-size: 10px;
  width: 30%; 
  display: inline-block;
}

.read-button:hover {
font-weight: 800;
text-decoration-color: #FFC107;
}

.delete-button:hover {
text-decoration-color: #FFC107;
}

.link-list:hover {
font-weight: 800;
text-decoration-color: #FFC107;
}





