*{
  font-family: "Open Sans";
}

body{
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  background-color: #455a64;
  width:  50%;
  text-align: center;
  display: inline-block;
  float: left;
}

section{
  height: 100vh;
  width: 90%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
  color: #fff;
  margin-bottom: 30px;
}

input {
  width: 90%;
  height: 35px;
  margin-bottom: 40px;
  border: none;
  font-size: 25px;
  padding-left: 10px;
}

input::placeholder {
  color: #BBBDBF;
}

.logo {
    height: 75px;
    width: 75px;
    vertical-align: middle;
    margin-top: -5px;
}

#list-area {
  width: 50%;
  background-color: #CFD8DC;
  vertical-align: top;
}

#enter-button{
width: 92%;
color: #FFFFFF; 
background-color: #FFC107;
height: 35px;
border: none;
font-weight: 800;
font-size: 17px;
}

#main-form{
  height:301px;
  margin-top: 50%;
}
