*{
  font-family: "Open Sans", sans-serif;
}

body{
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-weight: bolder;
  font-size: 60px;
  color: #fff;
  margin-bottom: 8%;
}

h2 {
  color: #455A64;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 600;
}

hr {
  background: #CFD8DC;
  height: 1px;
  border: 0px;
}

input {
  width: 90%;
  height: 35px;
  margin-bottom: 8%;
  border: none;
  font-size: 25px;
  padding-left: 10px;
}

input::placeholder {
  color: #BBBDBF;
}

main {
  background-color: #455a64;
  width:  50%;
  text-align: center;
  display: inline-block;
  float: left;
}

section{
  height: 100vh;
  width: 90%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.delete-button {
  border: none;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  float: right;
}

.delete-button-read {
  background-color: #F2F4F4;
}

.logo {
  height: 75px;
  width: 75px;
  vertical-align: middle;
  margin-top: -5px;
}

.list-item {
  width: 90%;
  background-color: #fff;
  border: solid 1.5px #607D8B;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 15px;
}

.list-item-read {
  background-color: #F2F4F4;
}

.link-list {
  color: #607d8b;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 22px;
}

.link-list-read {
  text-decoration-color: #CFD8DC;
} 

.read-button {
  border: none;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 14px;
}

.read-button-read {
  border: none;
  color: #F05A28;
  font-weight: 800;
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  background-color: #F2F4F4;
}

#bookmark-count-container {
  font-size: 24px;
  width: 20%;
}

#counter-container {
  margin-top: 4%;
  color: #FFF;
}

#enter-button {
width: 92%;
color: #FFFFFF; 
background-color: #FFC107;
height: 35px;
border: none;
font-weight: 800;
font-size: 17px;
}

#enter-button:hover {
  background-color: #FFD773;

}
#enter-button:disabled {
  background-color: #CFD8DC
}

#list-area {
  width: 50%;
  background-color: #CFD8DC;
  vertical-align: top;
}

#main-form {
  margin-top: 30%;
}

#small-counter-container {
  font-size: 10px;
  width: 30%; 
  display: inline-block;
}

.read-button:hover {
font-weight: 800;
text-decoration-color: #FFC107;
}

.delete-button:hover {
text-decoration-color: #FFC107;
}

.link-list:hover {
font-weight: 800;
text-decoration-color: #FFC107;
}

/* First breakpoint */

@media screen and (max-width: 960px) {
  
  h1 {
    font-size: 40px;
  }
  
  .logo {
    height: 45px;
    width: 45px;
  }

  #bookmark-count-container {
    font-size: 18px;
  }

  #small-counter-container {
    width: 100%;
  }
}

/* Second breakpoint */

@media screen and (max-width: 650px) {
  
  main {
    width: 100%;
  }

  section {
    width:100%;
    height: 50vh;
  }

  input {
    margin-bottom: 5%;
  }

  h1{
    font-size: 50px;
    margin-bottom: 3%;
    margin-top: 5%;
  }

  p {
  font-size: 14px;
  }

  #list-area {
    width: 100%;
    overflow: scroll;
  }
  
  #list-area::-webkit-scrollbar {
  z-index: -1;

  }
  #list-area::-webkit-scrollbar-corner {
    z-index: -5;
  }

  #main-form {
    margin-top: 5%;
  }

  #counter-container {
    margin-top: 2%;
  }

  .delete-button {
    background-color: #FFF;
  }
  .delete-button-read{
    background-color: #F2F4F4;
  }

  .link-list {
    font-size: 18px;
  }

  .read-button {
    background-color: #FFF;
  }

  .read-button-read {
    background-color: #F2F4F4;
  }
}